html,body
{
	width:100%;
	height:100%;
        overflow:hidden;
}

#backgroundLayers, #backgroundLayers div
{
	width:100%;
	height:100%;
	position:absolute;
	left:0px;
	top:0px;
}

#sectionLeft
{
	position:absolute;
	left:0px;
	top:0px;
	width:30%;
	bottom:0px;
	min-width:100px;
	overflow:hidden;
}
#sectionMiddle
{
	position:absolute;
	left:30%;
	padding-left:16px;
	margin-right:15px;
	top:0px;
	right:318px;
	bottom:0px;
	min-width:100px;
	overflow-x:hidden;
	overflow-y:scroll;
}
#sectionRight
{
	height:100%;
	position:absolute;
	top:0px;
	right:0px;
	overflow-x:hidden;
	overflow-y:scroll;
}

#sectionLeft .blackGradient
{
	background:url(../img/blackGradient.png) repeat-x bottom;
	position:absolute;
	left:0px;
	right:0px;
	top:300px;
	height:640px;
}
#sectionLeft .blackFiller
{
	background:#000;
	position:absolute;
	left:0px;
	right:0px;
	top:940px;
	bottom:0px;
}

#storeTitle
{
	width:284px;
}
#buildingsTitle
{
	display:none;
}
#upgrades
{
	height:60px;
	width:300px;
	right:0px;
	position:relative;
	overflow-y:hidden;
}
#upgrades:hover
{
	height:auto;
	min-height:60px;
}

.separatorLeft, .separatorRight
{
	width:16px;
	height:100%;
	background:url(../img/panelVertical.png) repeat-y;
	position:absolute;
	top:0px;
	bottom:0px;
}
.separatorLeft
{
	left:30%;
}
.separatorRight
{
	right:317px;
}

#focusButtons
{
	display:none;
	position:fixed;
	left:0px;
	bottom:0px;
	height:64px;
	width:100%;
	background:url(../img/darkNoise.png);
	z-index:1000000;
	font-size:32px;
}
#focusButtons:before
{
	content:'';
	display:block;
	position:absolute;
	left:0px;
	top:-16px;
	background:url(../img/blackGradient.png) repeat-x bottom;
	background-size:100% 100%;
	width:100%;
	height:16px;
	opacity:0.5;
	pointer-events:none;
}

.separatorBottom
{
	width:100%;
	height:16px;
	background:url(../img/panelHorizontal.png) repeat-x;
	position:absolute;
	left:0px;
	bottom:0px;
}

.button
{
	background:#000 url(../img/darkNoise.png);
	box-shadow:0px 0px 3px #666 inset,0px 0px 4px #000;
	position:absolute;
	z-index:100;
	width:64px;
	height:24px;
	text-align:center;
	font-size:18px;
	cursor:pointer;
	
	-webkit-transition: left 0.1s ease-out,right 0.1s ease-out,box-shadow 0.1s ease-out;
	-moz-transition: left 0.1s ease-out,right 0.1s ease-out,box-shadow 0.1s ease-out;
	-ms-transition: left 0.1s ease-out,right 0.1s ease-out,box-shadow 0.1s ease-out;
	-o-transition: left 0.1s ease-out,right 0.1s ease-out,box-shadow 0.1s ease-out;
	transition: left 0.1s ease-out,right 0.1s ease-out,box-shadow 0.1s ease-out;
}
.button:hover
{
	box-shadow:0px 0px 12px #ccc inset,0px 0px 4px #000;
	z-index:1000;
}
#prefsButton:hover,#statsButton:hover{left:-8px;}
#prefsButton,#statsButton{padding:14px 0px 10px 16px;}
#prefsButton{top:0px;left:-16px;}
#statsButton{bottom:16px;left:-16px;}
#logButton:hover{right:-8px;}
#logButton{padding:14px 16px 10px 0px;}
#logButton{bottom:16px;right:-16px;}

#game.onMenu #menu{display:block;}
#game.onMenu .row{display:none;}

#menu
{
	display:none;
	z-index:1000000;
	position:absolute;
	left:16px;
	right:0px;
	top:112px;
	bottom:0px;
	/*box-shadow:0px 0px 24px #000 inset;
	background:#000 url(img/darkNoise.png);*/
}

#comments
{
	padding:16px;
	text-align:center;
	position:relative;
	padding-bottom:32px;
	font-size:16px;
	height:64px;
	overflow:hidden;
}

#commentsText
{
	padding:0px 64px;
}

.commentsText q
{
	font-style:italic;
}

.commentsText sig
{
	font-size:70%;
	display:block;
	text-align:center;
	opacity:0.7;
}

.commentsText sig:before
{
	content:"-";
	padding-left:64px;
}

.title,.section
{
	font-family: 'Patrick Hand SC','Kavoon', Georgia,serif;
	font-size:28px;
	text-shadow:0px 0px 4px #000;
	color:#fff;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

#backgroundMidCanvas {
        position:relative;
        height:100%;
        width:100%;
        overflow:hidden;
}

#backgroundCanvas,#backgroundLeftCanvas
{
	position:absolute;
	left:0px;
	top:0px;
}

.tooltip
{
	background-image:url('../img/storeTile.jpg');
	position:absolute;
	float:right;
	width:300px;
	height:64px;
	display: none;
	font-family: 'Patrick Hand SC','Kavoon', Georgia,serif;
	text-shadow:0px 0px 4px #000;
	font-size: 14px;
	padding-left:10px;
	color:white;
}

.product
{
	content: counter(productIndex);
	position: relative;
	width:300px;
	height:64px;
	cursor:pointer;
	background-color: black;
	background-image:url('../img/storeTile.jpg');
	opacity: .4;
}

.product:hover + .tooltip
{
	display:inline;
	z-index: 500;
}
.zoneTitle
{
	text-align:center;
	padding:8px;
	width:100%;
}
.product img
{
	float:left;
	display: inline;
	width:15%;
	height:85%;
	padding-right: 10px;
	padding-left: 10px;
}

.cost img
{
	height:17px;
	width:17px;
	position:relative;
}

.content
{
	display: block;
	font-family: 'Patrick Hand SC','Kavoon', Georgia,serif;
	text-shadow:0px 0px 4px #000;
	font-size: 28px;
	color:white;
}

.upgrade
{
	content: counter(upgradeIndex);
	position: relative;
	float:left;
	width:45px;
	height:45px;
	padding-left: 15px;
	padding-top: 15px;
	cursor:pointer;
	background-color: #fff;
	background-image:url('../img/upgradeFrame.png');
}

#cookieAnchor
{
	position:absolute;
	left:50%;
	top:40%;
}

#bigCookie
{
	width:256px;
	height:256px;
	position:absolute;
	left:-128px;
	top:-128px;
	/*background:url(img/perfectCookie.png);
	background-size:256px 256px;*/
	background:url(../img/empty.png);/* somehow necessary; an empty div with no background seems to be click-through */
	cursor:pointer;
	z-index:10000;
}

#inv-body, #inv-top, #inv-bot
{   
        position:relative;
}

#inv-anchor
{
        margin-left: 4%;
        margin-right: 0px;
        width:603px;
}

#inv-slots 
{
        top: 0;
        left: 5;
        position:absolute;
}

#inv-title
{
	left:0px;
	top:15%;
	width:100%;
	text-align:center;
	z-index:200;
	padding:2px 0px;
}
#currency
{
	position:absolute;
	left:0px;
	top:15%;
	width:100%;
	text-align:center;
	z-index:200;
	background:#000;
	background:rgba(0,0,0,0.4);
	padding:2px 0px;
}

#products
{
	background-color: #000;
	height:640px;
}
